/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
} 

body{
    font-family: 'Raleway', sans-serif;
	line-height: 1.6;
	color: #000000;
}

h1{
    margin-bottom:  0;
    color: black;
    
}

.propic{
    max-width: 55%;

}

img{
    max-width: 70%;

}

a{
    text-decoration: none;
}

h2,
h3 {
    color:black;
    
}

h2,
h3 {
	margin-top: 0;
}

.card{
    padding-left: 10px;
    padding-right: 10px;
}

.intro{
    padding-right: 25px;
    padding-left: 25px;
}

.cont{
    text-align: center;
    margin-top: 2em;
}



/* ================================= 
  Base Element Styles
==================================== */


/* ---- Navigation ---- */


.name {
	font-size: 1.25em;
	margin: 0;
}

.navigation {
	margin-top: 5px;
}

.name,
	.navigation li {
		display: block;
		text-align: center;
        padding: 10px 15px;
        }
    

    
.navigation li {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 6px;
    margin-bottom: 6px;
    background: rgb(243, 236, 236);
} 


.navigation li a:hover {
    color: #16dd31;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
    padding-bottom: .5em;
    background-color: rgba(179, 179, 250, 0.514);
}

.main-footer {
	text-align: center;
}

.main-footer {
	background: rgba(179, 179, 250, 0.514);
}

main{
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.container{
    width: 90%;
    margin: 0 auto;
}

.intro{
    padding-left: 10px;
}

main h2{
    margin-bottom: 2em;
}
/* ================================= 
  Media Queries
==================================== */

@media(min-width: 769px){
   


    .propic{
    float:right;
    width: 34%;
    margin-bottom: 1em;
    margin-right: 5em;
    max-width: 32%;
    margin-top: 25px;
    
}

img{
    max-width: 85%;
}

    .intro {
        float: left;
        width:45%;
        text-align: left;
        margin-bottom: 1em;
        margin-left: 2.4em;
        font-size: 1.25em;

    }

    .navigation{
        text-align: center;
        /* float:right; */
    }

    .navigation li{
        display: inline-block;
        margin-left: 15px;
        }



    .clearfix::after {
		content: " ";
		display: table;
		clear: both;
    }
    
    .card{
        margin-top: 32px;
    }

    .card {
        width:50%;
        float:left;
        padding: 1em;
        margin-top: 0;
    }

    .card h3 {
        font-size: 28px;
        padding-bottom: .2em;
    }
.main-header{
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

.bnav {
    float: right;
   
}

.bnav li a{
    color: black;
    font-weight: bold;
}

.bnav  li{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 15px;
    display: inline-block;
}
.fname{

    float: left;
    margin-left:2em;
    margin-right: 8em;
}

}

 @media(min-width: 1025px){

  


    .name{
         float: left;
        margin-left: -1em; 
    }

    .navigation{
     float:right; 
     margin-right: 2em;
    }
    

    .card{
        width:33.33%;
        float: left;
        margin-bottom: 16px;
    }



   .navigation ul {
        float: right;
        padding-top: 3em;
   }
   



} 